html, body {
  height: 100%;
  margin: 0;
  font-family: "IBM Plex Sans", sans-serif;
  background: #d9973a;
}

.container {
  max-width: 400px;
  margin: 60px auto;
  padding: 20px;
  text-align: center;
  background: white;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

#map {
  height: 100vh;
  width: 100%;
}

button {
  background: #3c3c3c;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
}

button:hover {
  background: #555;
}
